

#thoraire {
 border-width:3px; 
 border-style:solid; 
 border-color:black;
 border-collapse : collapse;
 /*width:50%;*/
 }
#thoraire tbody tr td { 
 border-width:3px;
 border-style:solid;
 border-color:black;
 /*width:50%;*/
 }
#thoraire tbody th { 
 border-width:3px;
 border-style:solid; 
 border-color:black; 
 }
 thead tr th {
	border-width:3px;
 border-style:solid;
 border-color:black; 
	 
 }
 